server:
  port: 8080

spring:
  application:
    name: api-gateway

  main:
    web-application-type: reactive

  cloud:
    gateway:
      default-filters:
        - RemoveRequestHeader=Cookie
        - AddResponseHeader=X-Gateway, CRS-API-Gateway
      
      routes:
         - id: auth-service
           uri: http://localhost:8081
           predicates: 
                  - Path=/api/auth/**
           filters:
               - StripPrefix=2
         
         - id: user-service    
           uri: http://localhost:8082
           predicates:
                   -  Path=/api/user/**
           filters:
              -   StripPrefix=2
              
management: 
        endpoints: 
          web:
            exposure:
              include: health,info,metrics,prometheus
        endpoint:
          health:
            probes:
              enabled: true
logging:
  level:
    org.springframework.cloud.gateway: INFO  
    reactor.netty.http.client:  INFO           
                                   
                     